<!--The content below is only a placeholder and can be replaced.-->
<button (click)='teste()'> teste </button>

<input type="text" [(ngModel)]='login' placeholder='login'/>
<input type="text" [(ngModel)]='senha' placeholder='senha'/>

<button (click)='decode()'> decode </button>